.container{
    width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-top: 23px;
  padding: 1rem 2rem;
  background: rgba(254, 253, 253, 0.95);
   box-shadow: 10px 8px 32px 0 rgba(238, 241, 80, 0.37);
  backdrop-filter: blur(4px);
  /* -webkit-backdrop-filter: blur(4px); */
  border: 1px solid rgba(123, 246, 36, 0.18);
  position: relative;
  z-index: 2;
  font-family:cursive ;
}
.logo{
    display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img{
    height: 120px;
    border-radius: 23px 34px 56px 12px;
}


ul{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center ;
    list-style: none;
    gap: 2rem;

}

li{
    display: flex;
    flex-direction: column;
   
}

 a{
     text-decoration: none;
    text-transform: uppercase;
}


.btn{
    margin-right: 133px;
    padding: 12px;
   
}

.btn-s{
    height: 31px;
    font-size: 23px; 
    background: none;
    border: none;
    border-radius: 23px;


}

.btn-s a{
    text-decoration: none;
    color: rgb(140, 209, 51);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


} 